@charset "utf-8";
/* CSS Document */

html{
	background-color:#FF0000;
}

body{
	margin: 0 auto;
}

.wrapper{
	width: 64.5em;
}

.names{
	margin: 0.5em 1em 0 0;
	float: left;
}

.scores{
	float: left;
}